@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<li>@Html.ActionLink("Home","Index", "Jobs")</li>
<li><a href="job-listings.html" class="active">Job Listings</a></li>
<li><a href="about.html">About</a></li>



<li> <partial name="_LoginPartial" /> </li>

<li class="d-lg-none"><a href="contact.html">Contact Us</a></li>