@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<li>@Html.ActionLink("Home","Index", "Jobs")</li>
<li>@Html.ActionLink("Job Listings", "Index", "Jobs")</li>




<li> <partial name="_LoginPartial" /> </li>

<li class="d-lg-none"><a href="contact.html">Contact Us</a></li>